@import url(normalize.css);
@import url(bootstrap.min.css);

.container {
	width: 800px;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #D9D8FF;
}

.container h1 {
	text-align: center;
	color: #A011FF;
}

.counters {
	margin-bottom: 8px;
}

.counters__checked, .counters__unchecked {
	border: 1px solid black;
	padding: 0 5px;
	border-radius: 5px;
}

.counters__unchecked {
	margin-left: 5px;
}

#tabs {
	margin-bottom: 10px;
}

#tabs div, #check-all input, #enter-button, #delete-checked,
#todo-list input[type=checkbox], .todo-list__delete-button, .bookmark {
	cursor: pointer;
}

#tabs div {
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	width: 100px;
}

.active-tab {
	background-color: green;
	color: white;
}

#check-all {
	display: inline-block;
}

#check-all input {
	margin-left: 5px;
}

.form-control {
	display: inline-block;
}

#todo-list {
	list-style-type: none;
}

#todo-list li {
	height: 33px;
	border: 1px solid black;
	border-radius: 4px;
	margin-top: 10px;
	margin-right: 30px;
}

#todo-list li:after {
	content: "";
	display: table;
	clear: both;
}

#todo-list input:checked + span {
	text-decoration: line-through;
	color: grey;
}

#todo-list span {
	display: inline-block;
	margin-top: 4px;
}

.todo-list__delete-button {
	display: none;
	background-color: #FF7E75;
	font-size: 1em;
	width: 25px;
	text-transform: uppercase;
	text-align: center;
	float: right;
	border: 1px solid red;
	border-radius: 6px;
	margin-top: 2px;
}

.bookmark {
	display: inline-block;
	border: 1px solid black;
	list-style-type: none;
	margin: 0 5px 5px 0;
}

.active-bookmark {
	background-color: blue;
	color: white;
}